body {
    background-image: url('https://media.istockphoto.com/id/465727260/photo/saving-for-education.jpg?s=612x612&w=0&k=20&c=VKTEm8AfYTckZR5Rl5XJ4-VKWkfBWxWGIFiaupaQC60=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }