body {
    background-image: url('https://www.trepp.com/hubfs/GettyImages-1277731261-compressor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }