body {
    background-image: url('https://c0.wallpaperflare.com/preview/1017/538/491/money-finance-bank-cash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }