body {
    background-image: url('https://poonawallafincorp.com/pfca/assets/blog_banner/blog_banner-business-loan-process2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }