<!-- <html>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >Loan Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addloan">Add Loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminLoanDetails">Loan Details</a>
          </li>
        </ul>
      </div>
      <a class="nav-link active" aria-current="page" href="/home">LogOut</a>
    </div>
</nav>
</body>
</html> -->
<div class="bg"><br>
  <header>
    <h4><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-p-square" viewBox="0 0 16 16">
      <path d="M5.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5V4.002Zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97H8.27Z"/>
      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
    </svg></h4>
    <nav class="navigation">
      <a routerLink="/home"><b>Home</b></a>
      <a routerLink="/adminLoanDetails"><b>All Loans</b></a>
      <a routerLink="/home"><b>Logout</b></a>
    </nav>
  </header>
  
  <br><br><br>
  <hr>
  <article>
   
    
  </article>
  </div>