body {
    background-image: url('https://i.pinimg.com/474x/89/23/95/892395c0de81ccd0182fca1d6c8ad88e--artist-portfolio-comic-artist.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }