<div class="bg">

    <nav>
        <ul>
          <li><a class="active" routerLink="/home">Home</a></li>
          
        </ul>
      </nav>
      



    <h1 align = "center" style="color: black"> <b> About us </b> </h1>

    <hr>
    <br>

    <div class="parent">
        <div class="div1"> <img src="https://m.economictimes.com/thumb/msid-85757968,width-1200,height-900,resizemode-4,imgsize-1014169/loan-getty-25.jpg" width="600" height="680"> </div>
        
        <div class="div3"> <p> <b> Welcome to Loan Management System </b></p>  
                <p> <b> A Loan Management System is a digital platform which assist lenders in automating and streamlining entire loan life cycle including loan servicing, reporting, customer care, syndication and customer monitoring</b></p>
                <p> <b> It acts as a centralized data storage unit which is used for retaining and managing customer information, creating new loans, and keeping a record of all financial statements for the lenders. </b></p>
                <p> <b> Thus, it offers an integrated overview of all the different processes of the lending lifecycle.  </b></p>
                <p> <b> This unified platform also has built in analytic modules that can be utilized for providing useful analysis and insights into automating the entire loan cycle as well as comprehensive reports on the cash flow </b></p>
                <p> <b> Our team is made up of experienced professionals who are passionate about parking. We're dedicated to providing our customers with the highest level of service, and we're always here to help with any questions or concerns you may have. </b></p>
                <p> <b> Primarily used by banks and credit unions, it provides easily deployable and scalable integrated loan management solution to traditional paper-based method of servicing loans.</b></p>
                <p> <b> Thank you for choosing Loan Management System for your Loan services. We look forward to serving you soon! </b></p>
      
      
      
            </div>










        </div>
</div>